# Visual Studio
.vs/
.vsconfig
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Rider
.idea/
Plugins/Developer/RiderLink

# Mac / Windows system files
.DS_Store
Thumbs.db

# Binaries 
Binaries/
Plugins/*/Binaries/

# Compiled Object files & Libs
*.slo
*.lo
*.o
*.obj
*.pdb
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.modules

# Intermediate folders
Intermediate/
Plugins/**/Intermediate/
Build/*

# Cache files
DerivedDataCache/

# Configuration files 
Saved/
Config/HoloLens/
Platforms/HoloLens/Config/

# Builds and Packages
Build/Windows/FileOpenOrder/*
!Build/Windows/PipelineCaches/*

# 1. Ignorar Starter Content
Content/StarterContent/

# 2. Ignorar Pastas de Desenvolvedores
Content/Developers/
Content/Collections/

# 3. BLOQUEIO DE ASSETS PAGOS/PESADOS
Content/Megascans/
Content/Paragon*/

